.title-knowledges{
    color:#3A1F5D;
    font-size: 30px;
    margin: 5% 30%;
}

.container-knowledges {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}