
.top-bar{
    z-index: 10;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: white;
    transition: all 2s ease;
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    align-items: center;
}
.logo{
    font-size: 40px;
    font-weight:700 ;
    margin-left: 30px;
    color:#3A1F5D;
    text-decoration: none;
    transition: all 2s ease;

}

.hamburguer-menu{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    

}
.line{
    width: 100%;
    height: 3px;
    background-color: #3A1F5D;
    transform-origin: left;
    transition: all 2s ease;

}


/* Active Elemets */

.top-bar.active{
    background-color:#3A1F5D;
    transition: all 2s ease;
}
.logo.active{
    color: white;
}
.line-1.active{
    background-color: white;
    transform:rotate(45deg);
    transition: all 2s ease;
}
.line-2.active{
    opacity: 0;
}
.line-3.active{
    background-color: white;
    transform:rotate(-45deg);
    transition: all 2s ease;
}
