.bodyHome{
    height: 100vh;

}
.section-information{
    position: relative;
    top:70px;
    width: 100vw;
}
.section-information > *{
    height:calc(100vh - 70px);
}
.bodyHome::-webkit-scrollbar{
    width: 0;
}
