
.section-contact{
    display: flex;
    position: relative;
    top:70px;
    width: 100vw;
}
.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5px;
    flex: 6;
    

}
.form{
 
    flex: 8;
}
@media screen and (max-width:850px)
{
    .section-contact{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form{
        width: 80%;
    }

}





