.container-card{
  display: flex;
  margin-top:50px;
  width:60%;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FBFF5F;
  
}

.image-card{
  height: 50px;
  margin: 30px;
}
.content-card{
  margin: 30px;
}
.title-card{
  font-size: 25px;
  padding-bottom: 10px;

}

@media screen and (max-width:850px)
{

}
