body{
    height: 100vh;

}
body::-webkit-scrollbar{
    width: 0;
}

.section-information{
    position: relative;
    top:70px;
    width: 100vw;
}
.section-information > *{
    height:calc(100vh - 70px);
}
.section-information::-webkit-scrollbar{
    width: 0;
}